<% provide(:title,"edit") %>
<%= render 'teacher/layouts/header' %>
<h1>update your profile</h1>
<div class="panel panel-info">
  <div class="panel-heading">
    <%= form_for @user,url: {action:"update_password"} ,method: :post do |f| %>
      <%= render 'shared/error_messages', object: @user %>
      <%=f.label :password %>
      <%=f.password_field :password ,class:'form-controller'%>
      <%=f.label :password_confirmation ,"password_confirmation" %>
      <%=f.password_field :password_confirmation ,class:'form-controller'%>

      <%=f.submit "Save changes" ,class:'btn btn-primary'%>
    <% end %>
  </div>
</div>