<% provide(:title,'all papers') %>
<%= render 'admin/layouts/header' %>
<h1>PaperList</h1>
  <div>
	  <table class="table">
	  	<thead>
	  		<th>title</th><th>subject</th><th>detail</th><th>delete</th>
	  	</thead>
	  	<% @papers.each do |paper| %>
	  		<tr>
	  			<td><%= paper.title %></td>
	  			<td><%= paper.subject %></td>
	  			<td><%= link_to "detail" , admin_paper_path(paper) %></td>
	  			<td><%= link_to "delete",admin_paper_path(paper), method: :delete,data:{confirm:"You sure?"} %></td>
	  		</tr>
	  	<% end %>
	  </table>
	  <%= will_paginate @papers %>
  </div>