<% provide(:title,'check papers') %>
<%= render 'admin/layouts/header' %>
<h1>Check paper</h1>
    <div>
	  <table class="table">
	  	<thead>
	  		<th>title</th><th>subject</th><th>check</th>
	  	</thead>
	  	<% @papers.each do |paper| %>
	  		<tr>
	  			<td><%= paper.title %></td>
	  			<td><%= paper.subject %></td>
	  			<td><%= link_to "check" , editreview_admin_paper_path(paper) %></td>
	  		</tr>
	  	<% end %>
	  </table>
	  <%= will_paginate @papers %>
    </div>