<% provide(:title,"paper detail") %>
<%= render 'admin/layouts/header' %>
<div class="row">
  <aside class="col-md-4">
  	<section class="user_info">
  	  <h1>
  	  	<%= @paper.title %>|<%= @paper.subject.name %>
  	  </h1>
  	  <% @paper.questions.each do |question| %>
	  	  <div>
		  	  <p><%= question.title %></p>
		  	  <ul>
		  	  	<% question.options.each do |option| %> 
		  	  	<li class=""><%= option.content %><%= "(right)" if option.is_right_answer %></li>
		  	  	<% end %>
		  	  </ul>
	  	  </div>
			<% end %>
  	</section>
  </aside>
</div>
