<% provide(:title,"edit") %>
<%= render 'layouts/header' %>
<h1>uodate your profile</h1>
<div class="col-md6 col-md-offset-3">
	<%= form_for (@user) do |f| %>
	  <%= render 'shared/error_messages', object: @user %>
	  <%=f.label :name %>
	  <%=f.text_field :name ,class:'form-controller'%>
	  <%=f.label :email %>
	  <%=f.text_field :email ,class:'form-controller'%>
    <button type="button" class="btn btn-primary" data-toggle="collapse" 
    data-target="#demo">change password</button>
    <div id="demo" class="collapse">
      <%=f.label :password %>
      <%=f.password_field :password ,class:'form-controller'%>
  	  <%=f.label :password_confirmation ,"password_confirmation" %>
  	  <%=f.password_field :password_confirmation ,class:'form-controller'%>
    </div>
	  <%=f.submit "Save changes" ,class:'btn btn-primary'%>
	<% end %>
</div>
