<%= form_for [:teacher, paper], class: "form-horizontal" do |f| %>
  <% if @paper.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>
      <ul>
      <% @paper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
		<%= f.label :title, "试卷标题", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
		  <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
		<%= f.label :subject_id, "科目", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
		  <%= f.collection_select :subject_id, Subject.all, :id, :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
		<%= f.label :level, "难易程度", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
		  <%= f.select :level, Paper.levels.keys, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :multiple_choice_count, "选择题数量（每题2分）", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :multiple_choice_count, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :sentence_completion_count, "填空题数量（每题1分）", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :sentence_completion_count, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :true_or_flase_question_count, "判断题数量（每题1分）", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :true_or_flase_question_count, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :short_answer_question_count, "简答题数量（每题5分）", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :short_answer_question_count, class: "form-control" %>
    </div>
  </div>

	<div class="action">
		<%= f.submit "提交", class: "btn btn-primary" %>
	</div>
<% end %>
