<%= render 'teacher/layouts/header' %>
<h1>试卷列表</h1>
<table class="table">
	<thead>
		<th>试卷标题</th>
		<th>科目</th>
		<th>状态</th>
		<th>难易度</th>
		<th>编辑/查看</th>
		<th>删除</th>
		<th>考试记录</th>
	</thead>
	<% @papers.each do |paper| %>
		<tr>
			<td><%= paper.title %></td>
			<td><%= paper.subject.name %></td>
			<td><%= paper.review %></td>
			<td><%= paper.level %></td>
			<td>
				<% if paper.check? || paper.spass? %>
					<%= link_to "查看", teacher_paper_path(paper) %>
				<% else %>
					<%= link_to "编辑", edit_teacher_paper_path(paper) %>
				<% end %>
			</td>
			<td><%= link_to "删除", teacher_paper_path(paper), method: :delete, data: { confirm: "are you sure?"} %></td>
			<td><%= link_to "考试记录 / #{paper.exams.count}", teacher_paper_exams_path(paper) %></td>
		</tr>
	<% end %>
</table>
<%= will_paginate @papers %>
