<%= render 'layouts/header' %>
<h1>PaperList</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :subject_cont, "Subject" %>
  <%= f.search_field :subject_cont %>
  <%= f.label :creator_name_cont, "Teacher name" %>
  <%= f.search_field :creator_name_cont %>
  <%= f.submit %> 
<% end %>

<div>
  <table class="table">
  	<thead>
  		<th>title</th>
  		<th>subject</th>
  		<th>teacher</th>
      <th>exam</th>
  	</thead>
  	<% @papers.each do |paper| %>
  		<tr>
  			<td><%= paper.title %></td>
  			<td><%= paper.subject %></td>
  			<td><%= paper.creator.name %></td>
        <td>
          <%= link_to "examinate", create_exam_paper_path(paper), method: :post %>
        </td>
  		</tr>
  	<% end %>
  </table>
  <%= will_paginate @papers %>
</div>