<%= render 'layouts/header' %>
<h1>PaperList</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :subject_cont, "科目" %>
  <%= f.search_field :subject_cont %>
	<%= f.label :creator_name_cont, "出题老师" %>
  <%= f.search_field :creator_name_cont %>
  <%= f.submit %> 
<% end %>

<div>
  <table class="table">
  	<thead>
  		<th>试卷标题</th>
  		<th>科目</th>
			<th><%= sort_link(@q, :level, "难易度", default_order: :desc) %></th>
  		<th>出题教师</th>
      <th>考试</th>
  	</thead>
  	<% @papers.each do |paper| %>
  		<tr>
  			<td><%= paper.title %></td>
  			<td><%= paper.subject.name %></td>
        <td><%= paper.level %></td>
  			<td><%= paper.creator.name %></td>
        <td>
          <%= link_to "我要考试", create_exam_paper_path(paper), method: :post %>
        </td>
  		</tr>
  	<% end %>
  </table>
  <%= will_paginate @papers %>
</div>
