<% provide(:title,"new paper") %>
<h1>new paper</h1>
<%= form_for @paper do |p| %>
  <%= p.label :title,"试卷标题" %>
  <%= p.text_field :title ,class:'form-control' %>
  <%= p.label :subject %>
  <%= p.select :subject, options_for_select([["数学","数学"],["语文","语文"],["英语","英语"]]),{},class:'form-control'  %>
	<% 5.times do |times| %>
    <div class="panel panel-info">
      <div class="panel-heading">
      	<h3 class="panel-title">第<%= times+1 %>题</h3>
      </div>
      <div class="panel-body">
        <%= p.fields_for :questions, @paper.questions do |questions| %>
	      <%= questions.label :title,"题目" %>
	      <%= questions.text_field :title ,class:'form-control'%>

	      <%= p.fields_for :options, @paper.options do |options| %>
	      	<%= options.label :content ,"选项A" %>
	      	<%= options.text_field :content %>
	      	<%= options.label :content ,"选项B" %>
	      	<%= options.text_field :content %>
	      	<%= options.label :content ,"选项C" %>
	      	<%= options.text_field :content %>
	      	<%= options.label :content ,"选项D" %>
	      	<%= options.text_field :content %>
	      <% end %>
  	    <% end %>
  	  </div>
    </div>
    <% end %>
  <%= p.submit "OK" %>
<% end %>
