<%= render 'layouts/header' %>
<h1>Your exams recored</h1>
<table class="table">
	<thead>
		<th>paper</th>
		<th>subject</th>
		<th>detail</th>
	</thead>
	<% @exams.each do |exam| %>
		<tr>
			<td><%= exam.paper.title %></td>
			<td><%= exam.paper.subject %></td>
			<td><%= link_to "detail", exam_path(exam)  %></td>
		</tr>
	<% end %>
</table>
<%= will_paginate @exams %>