<%= render "layouts/header" %>
<h1>Testing...</h1>
<%= form_for @exam ,url: create_answer_exam_path(@exam), method: :post do |f| %>
	<h1><%= @exam.paper.title %>|<%= @exam.paper.subject %></h1>
	<ol>
		<%= f.fields_for :answers do |a| %>
			<li>
				<p><%= a.object.question.title %></p>
				<ol type="A">
					<% a.object.question.options.each do |option| %>
						<li>
							<%= a.hidden_field :question_id %>
							<%= option.content %>
							<%= a.radio_button :option_id, option.id %>
						</li>
					<% end %>
				</ol>
			</li>
		<% end %>
	</ol>
	<%= f.submit %>
<% end %>
