<%= render 'layouts/header' %>
<h1><%= @exam.paper.title %></h1>
<h2><%= @exam.paper.subject.name %></h2>
<h2>考生姓名： <%= @exam.user.name %></h2>
<p>得分：<%= @exam.calculate_score %></p>
<div>
	<% @exam.answers.each do |answer| %>
		<div class="panel <%= answer.is_right_answer ? "panel-success" : "panel-default" %>">
			<div class="panel-heading">
				<p>
					<%= t("activerecord.attributes.question.question_types.#{answer.question.question_type}") %>
					<%= answer.question.title %>
				</p>

				<p>得分：<%= answer.score %></p>
			</div>
		  <% if answer.question.multiple_choice? %>
		  	<div class="panel-body">
		  		<ul>
						<% answer.question.options.each do |option| %>
							<li><%= option.content %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

		  <div class="panel-footer">
		  	<p>你的答题记录是：
			  	<% case answer.question.question_type %>
					<% when "multiple_choice" %>
				  	<%= answer.option&.content || "未作答" %>
					<% when "sentence_completion" %>
						<%= answer.content || "未作答" %>
					<% when "true_or_flase_question" %>
						<%= answer.true_answer || "未作答" %>
					<% when "short_answer_question" %>
						<%= answer.content || "未作答" %>
					<% end %>
				</p>
		  </div>
		</div>
	<% end %>
</div>